body {
    width: 100%;
    margin: 0 ;
    padding: 0 ;
    overflow-x:hidden;
}

.container1 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    z-index: 10;
    /* definit une priorité d'affichage (calque 1>2>3*/
}

.row {
    font-family: 'Open Sans', sans-serif;
}

#box1 {
    background-color: rgb(216, 227, 232);
    height: 75px;
    border: solid;
    border-width: 2px;
}


#nom {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#box2 {
    background-color: white;
    height: 75px;
    border: solid;
    border-width: 2px;
}

.menu2 {
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    position: relative;
    left: 700px;
    top: 25px;
}

#box3 {
    height: 75px;
}

#box4 {
    background-color: yellow;
    height: 582px;
    border: solid;
    border-width: 2px;
}

#jim {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box5 {
    background-color: rgb(216, 227, 232);
    height: 582px;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.presentation {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#box6 {
    background-color: yellow;
    height: 582px;
    border: solid;
    border-width: 2px;
}

#home {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box7 {
    background-color: rgb(216, 227, 232);
    height: 564.5px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.atout {
    position: relative;
    top: 40px;
    text-align: center;
}

.competence {
    padding: 10px;
    text-align: center;
    position: relative;
    top: 15px;
}

ul {
    list-style-type: none;
}

#box8 {
    background-color: white;
    height: 564.5px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.contact {

    text-decoration: none;
    color: black;
    text-align: center;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 25px 25px;
}

.mail {
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 35%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tel {
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 35%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 25px 25px;
}

#box9 {
    background-color: rgb(216, 227, 232);
    height: 564.5px;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.motivation {
    text-decoration: none;
    font-size: 100%;
    text-align: center;
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 25px 25px;
}

#box10 {
    background-color: black;
    height: 75px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.facebook {
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 2px;
    left: 35%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#facebook2 {
    width: 11%;
    height: 90%;
    object-fit: cover;
    position: relative;
    right: 20px;
}

#box11 {
    background-color: white;
    height: 75px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.linkedin {
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;

    left: 35%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#linkedin2 {
    width: 13%;
    height: 100%;
    object-fit: cover;
}

#box12 {
    background-color: black;
    height: 75px;
    float: right;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

#github {
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 2px;
    left: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.github2 {
    width: 9%;
    height: 90%;
    object-fit: cover;
    position: relative;
    right: 10px;
}

@media only screen and (min-width:0px) and (max-width: 576px) {

    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 80px;
        top: 25px;
    }

    .linkedin {
        text-decoration: none;
        color: black;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 0px;
        left: 22%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #linkedin2 {
        width: 23%;
        height: 99%;
    }

    #facebook2 {
        width: 11%;
        height: 90%;
        object-fit: cover;
        position: relative;
        right: 10px;
    }

    .facebook {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 2px;
        left: 138px;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

}

#github {
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 29%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.github2 {
    width: 15%;
    height: 90%;
    object-fit: cover;
    position: relative;
}

#facebook2 {
    width: 11%;
    height: 90%;
    object-fit: cover;
    position: relative;
    right: 10px;
}


@media only screen and (min-width:577px) and (max-width: 768px) {
    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 0px;
        top: 25px;
    }

    .presentation {
        text-align: center;
        position: relative;
        top: 55%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .facebook {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 2px;
        left: 37%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #facebook2 {
        width: 11%;
        height: 90%;
        object-fit: cover;
        position: relative;
        right: 18px;
    }

    #github {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        left: 36%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .github2 {
        width: 15%;
        height: 90%;
        object-fit: cover;
        position: relative;
        right: 20px;
    }

    .linkedin {
        text-decoration: none;
        color: black;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 0px;
        left: 29%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #linkedin2 {
        width: 23%;
        height: 99%;
    }
}

@media only screen and (min-width:769px) and (max-width: 992px) {
        .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 100px;
        top: 25px;
    }

    .atout {
        position: relative;
        top: 30px;
        text-align: center;
    }

    .mail {
        text-decoration: none;
        color: black;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 15%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .tel {
        text-decoration: none;
        color: black;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 15%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 25px 25px;
    } 

    .facebook {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 2px;
        left: 10%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #facebook2 {
        width: 20%;
        height: 90%;
        object-fit: cover;
        position: relative;
        left: 15px;
    } 

    .linkedin {
        text-decoration: none;
        color: black;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 0px;
        left: 15%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #linkedin2 {
        width: 30%;
        height: 99%;
    }

    #github {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        left: 13%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .github2 {
        width: 35%;
        height: 90%;
        object-fit: cover;
        position: relative;
        right: 5px;
    }
}

@media only screen and (min-width:993px) and (max-width: 1200px) {
    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 250px;
        top: 25px;
    }

    .atout {
        position: relative;
        top: 10px;
        text-align: center;
    }

    .facebook {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 2px;
        left: 15%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #facebook2 {
        width: 20%;
        height: 90%;
        object-fit: cover;
        position: relative;
        left: 15px;
    }

    .linkedin {
        text-decoration: none;
        color: black;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 0px;
        left: 17%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #linkedin2 {
        width: 30%;
        height: 99%;
    }

    #github {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .github2 {
        width: 25%;
        height: 90%;
        object-fit: cover;
        position: relative;
        left:5px;
    }
}

    @media only screen and (min-width:1201px) and (max-width: 1600px){

    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 300px;
        top: 25px;
        }

    .facebook {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 2px;
        left: 25%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #facebook2 {
        width: 15%;
        height: 90%;
        object-fit: cover;
        position: relative;
        left: 15px;
    }

    .linkedin {
        text-decoration: none;
        color: black;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 0px;
        left: 22%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #linkedin2 {
        width: 30%;
        height: 99%;
    }

    #github {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .github2 {
        width: 20%;
        height: 90%;
        object-fit: cover;
        position: relative;
        left:5px;
    }
    }

    @media only screen and (min-width:1601px) and (max-width: 2300px){

        .menu2 {
            text-decoration: none;
            color: black;
            padding: 4px 8px;
            position: relative;
            left: 400px;
            top: 25px;
        }

        .facebook {
            text-decoration: none;
            color: white;
            font-size: 100%;
            font-weight: bold;
            text-align: center;
            position: relative;
            top: 2px;
            left: 33%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    
        #facebook2 {
            width: 10%;
            height: 90%;
            object-fit: cover;
            position: relative;
            left: 5px;
        }
    
        .linkedin {
            text-decoration: none;
            color: black;
            font-size: 100%;
            font-weight: bold;
            text-align: center;
            position: relative;
            top: 0px;
            left: 30%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            
        }
    
        #linkedin2 {
            width: 18%;
            height: 99%;

        }

        #github {
            text-decoration: none;
            color: white;
            font-size: 100%;
            font-weight: bold;
            text-align: center;
            position: relative;
            top: 2px;
            left: 37%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    @media only screen and (min-width:2301px) {
        #github {
            text-decoration: none;
            color: white;
            font-size: 100%;
            font-weight: bold;
            text-align: center;
            position: relative;
            top: 2px;
            left: 39%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .github2 {
            width: 10%;
            height: 90%;
            object-fit: cover;
            position: relative;
        }
    }

/*.col-	 à 576px
.col-sm-	 à 567px.
.col-md-	 à 768px
.col-lg-	 992px
.col-xl-	​​​​​​​ 1200px. */