img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenu {
    width: 100%;
   font-family: 'Open Sans', sans-serif;
}

.container2 {
    width: 100%;
    position: fixed;
    z-index: 10; /* definit une priorité d'affichage (calque 1>2>3*/
}

.test {
    width: 100%;
    height: 75px;
}

.box1 {
    background-color: rgb(216, 227, 232);
    width: 35%;
    height: 75px;
    float: left;
    border: solid;
    border-width: 2px;
}

.box2 {
    background-color: white;
    width: 65%;
    height: 75px;
    float: right;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.box3 {
    background-color: yellow;
    width: 30%;
    height: 582px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.box4 {
    background-color: rgb(216, 227, 232);
    width: 45%;
    height: 582px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
    font-weight: bold;
}

.box5 {
    background-color: blueviolet;
    width: 25%;
    height: 582px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.box6 {
    background-color: rgb(216, 227, 232);
    width: 25%;
    height: 500px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.box7 {
    background-color: white;
    width: 50%;
    height: 500px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.box8 {
    background-color: rgb(216, 227, 232);
    width: 25%;
    height: 500px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.box9 {
    background-color: black;
    width: 33.33%;
    height: 75px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.box10 {
    background-color: white;
    width: 33.33%;
    height: 75px;
    float: left;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

.box11 {
    background-color: black;
    width: 33.34%;
    height: 75px;
    float: right;
    border: solid;
    border-width: 2px;
    font-size: 100%;
}

body {
    width: 100%;
}

.presentation {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#nom {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#bureau {
	width: 100%;
    height: 100%;
    object-fit: cover; /* Permet de ne pas ecraser l'image en changeant la dimension de la page regler width height a 100% */
}

.menu {
    display: table-cell;
    color: white;
    text-decoration: none;
}

.menu2 {
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    position: relative;
    left: 800px;
    top: 25px;
}

.atout {
    position: relative;
    top: 40px;
    text-align: center;
    font-weight: bold;
}

.competence {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 15px;
}

ul {
    list-style-type: none;
}

.mail {
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 25%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    

}

.facebook {
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 2px;
    left: 25%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.facebook2 {
    width: 15%;
    height: 90%;
    object-fit: cover;
    position: relative;
    right: 20px;
}

.linkedin {
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 18%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.linkedin2 {
    width: 28%;
    height: 99%;
}

.github {
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 25%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.github2 {
    width: 15%;
    height: 90%;
    object-fit: cover;
    position: relative;
}

.contact {
    
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 25px 25px;
}

.motivation {
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 25px 25px;
}

.tel {
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 25px 25px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9,
    .box10,
    .box11 {
        width: 100%;
    }

    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 80px;
        top: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 180px;
        top: 25px;
    }

    .comp {
        padding: 10px;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: px;
        font-size: 11px;
    }

    .motivation {
        text-decoration: none;
        color: black;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 45%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 25px 25px;
        font-size: 12px;
    }

    .github {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        left: 25%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .github2 {
        width: 30%;
        height: 90%;
        object-fit: cover;
        position: relative;
        top: 2px;
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: 1267px) {
    
    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 350px;
        top: 25px;
    }

    .comp {
        padding: 10px;
        font-weight: bold;
        text-align: center;
        position: relative;
        font-size: 12px;
    }

    .github {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        left: 25%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .github2 {
        width: 27%;
        height: 90%;
        object-fit: cover;
        position: relative;
        top: 2px;
    }

}

@media only screen and (min-width: 1268px) {
    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 500px;
        top: 25px;
    }
    
    .github {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        position: relative;
        left: 25%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .github2 {
        width: 18%;
        height: 90%;
        object-fit: cover;
        position: relative;
        top: 2px;
    }
}

@media only screen and (min-width: 1500px) {
    .menu2 {
        text-decoration: none;
        color: black;
        padding: 4px 8px;
        position: relative;
        left: 600px;
        top: 25px;
    }
}

.github {
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 32%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}